<footer class="bg-dark text-white pt-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 mb-5">
        <h2>LOCATION</h2>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-lg-4 col-sm-12 mb-5">
        <h2>AROUND THE WEB</h2>
        <div class="d-flex justify-content-center gap-2">
          <div
            class="contact-icons d-flex justify-content-center align-items-center border-white border rounded-circle"
          >
            <i class="fa-brands fa-facebook"></i>
          </div>
          <div
            class="contact-icons d-flex justify-content-center align-items-center border-white border rounded-circle"
          >
            <i class="fa-brands fa-twitter"></i>
          </div>
          <div
            class="contact-icons d-flex justify-content-center align-items-center border-white border rounded-circle"
          >
            <i class="fa-brands fa-linkedin-in"></i>
          </div>
          <div
            class="contact-icons d-flex justify-content-center align-items-center border-white border rounded-circle"
          >
            <i class="fa-solid fa-globe"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 mb-5">
        <h2>ABOUT FREELANCER</h2>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
  <div class="bg-black text-white-50 text-center py-3">
    <p>Copyright © Your Website 2021</p>
</div>
</footer>