<section
  class="vh-100 bg-info text-white d-flex flex-column justify-content-center align-items-center"
>
  <div class="container">
    <div class="text-center">
      <h1 class="text-uppercase fs-1 fw-bold">about component</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="line me-3"></div>
      <div><i class="fa-solid fa-star"></i></div>
      <div class="line ms-3"></div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12 pt-3">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-lg-6 col-sm-12 pt-3">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</section>
