<section
  class="vh-100 bg-info text-white py-5 d-flex flex-column justify-content-center align-items-center"
>
  <div class="py-4">
    <img src="assets/imgs/avataaars.svg" class="w-100" alt="" />
  </div>
  <h1 class="text-uppercase fs-1 fw-bold">start Framework</h1>
  <div class="d-flex justify-content-center align-items-center">
    <div class="line me-3"></div>
    <div><i class="fa-solid fa-star"></i></div>
    <div class="line ms-3"></div>
  </div>
  <p class="py-3">Graphic Artist - Web Designer - Illustrator</p>
</section>
